<?xml version="1.0" encoding="UTF-8"?>
<!-- The root node for Magento module configuration -->
<config> 
    <!-- 
        The module's node contains basic 
        information about each Magento module
    -->
    <modules>
        <!--
            This must exactly match the namespace and module's folder
            names, with directory separators replaced by underscores
        -->
        <Liana_CEMImport>
            <!-- 
                The version of our module, starting at 0.0.1. 
                This value affects the mysql4-install-0.0.1.php
            -->
            <version>0.0.2</version>
        </Liana_CEMImport>
    </modules>
     <global>
        <!--blocks -->
        <blocks>
            <cemimport>
                <class>Liana_CEMImport_Block</class>
            </cemimport>
        </blocks>
        <!--blocks -->
        <models>
            <cemimport>
                <class>Liana_CEMImport_Model</class>
                <resourceModel>cemimport_mysql4</resourceModel>
            </cemimport>
            <cemimport_mysql4>
                <class>Liana_CEMImport_Model_Mysql4</class>
                <entities>
                    <cemimport>
                        <table>cemimport</table>
                    </cemimport>
                </entities>
            </cemimport_mysql4>
        </models>
        <!--resources-->
        <resources>
             <cemimport_setup>
                <setup>
                    <module>Liana_CEMImport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cemimport_setup>
            <cemimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cemimport_write>
            <cemimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cemimport_read>
        </resources>
    </global>
     <phpunit>
        <suite>
            <modules>
                 <Liana_CEMImport/>
            </modules>
        </suite>
    </phpunit>
    <!-- begin admin html config -->
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cemimport>
                                            <title>Liana CEMIMport Sections</title>
                                        </cemimport>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <!-- end admin html config -->
     <admin>
        <routers>
            <Liana_CEMImport>
                <use>admin</use>
                <args>
                    <module>Liana_CEMImport</module>
                    <!-- This is used when "catching" the rewrite above -->
                    <frontName>cemimport</frontName>
                    <!-- frontName with capital N -->
                </args>
            </Liana_CEMImport>
        </routers>
    </admin>
     <!--crontab-->
     <crontab>
        <jobs>
             <Liana_CEMImport_Orders>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cemimport/observer::exportOrders</model>
                </run>
            </Liana_CEMImport_Orders>
            <Liana_CEMImport_Customers>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cemimport/observer::exportCustomers</model>
                </run>
            </Liana_CEMImport_Customers>
        </jobs>
    </crontab>
      <!--crontab-->
</config>
